<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>B</key>
	<dict>
		<key>V</key>
		<integer>-26</integer>
		<key>X</key>
		<integer>-18</integer>
		<key>asterisk</key>
		<integer>-4</integer>
		<key>braceright</key>
		<integer>-10</integer>
		<key>bracketright</key>
		<integer>-21</integer>
		<key>p</key>
		<integer>-8</integer>
		<key>parenright</key>
		<integer>-19</integer>
		<key>trademark</key>
		<integer>-9</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-12</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>V</key>
		<integer>4</integer>
		<key>ampersand</key>
		<integer>-15</integer>
		<key>asterisk</key>
		<integer>2</integer>
		<key>dotlessi</key>
		<integer>-4</integer>
		<key>five</key>
		<integer>-14</integer>
		<key>four</key>
		<integer>-17</integer>
		<key>germandbls</key>
		<integer>-11</integer>
		<key>itilde</key>
		<integer>7</integer>
		<key>jcircumflex</key>
		<integer>3</integer>
		<key>schwa</key>
		<integer>-25</integer>
		<key>slash</key>
		<integer>-23</integer>
		<key>space</key>
		<integer>-27</integer>
		<key>thorn</key>
		<integer>5</integer>
	</dict>
	<key>Oslashacute</key>
	<dict>
		<key>Tbar</key>
		<integer>-2</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>X</key>
		<integer>-41</integer>
		<key>ampersand</key>
		<integer>-18</integer>
		<key>bracketright</key>
		<integer>-7</integer>
		<key>five</key>
		<integer>-14</integer>
		<key>four</key>
		<integer>-17</integer>
		<key>germandbls</key>
		<integer>-9</integer>
		<key>schwa</key>
		<integer>-9</integer>
		<key>slash</key>
		<integer>-23</integer>
		<key>space</key>
		<integer>-27</integer>
		<key>v</key>
		<integer>3</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>V</key>
		<integer>-15</integer>
		<key>X</key>
		<integer>-19</integer>
		<key>braceright</key>
		<integer>1</integer>
		<key>bracketright</key>
		<integer>7</integer>
		<key>comma</key>
		<integer>-3</integer>
		<key>parenright</key>
		<integer>3</integer>
		<key>x</key>
		<integer>-11</integer>
	</dict>
	<key>Schwa</key>
	<dict>
		<key>V</key>
		<integer>-11</integer>
		<key>X</key>
		<integer>-18</integer>
		<key>braceright</key>
		<integer>-6</integer>
		<key>bracketright</key>
		<integer>-12</integer>
		<key>parenright</key>
		<integer>-12</integer>
		<key>x</key>
		<integer>-9</integer>
	</dict>
	<key>Tbar</key>
	<dict>
		<key>f_f</key>
		<integer>0</integer>
		<key>f_f_b</key>
		<integer>0</integer>
		<key>f_f_h</key>
		<integer>0</integer>
		<key>f_f_i</key>
		<integer>0</integer>
		<key>f_f_j</key>
		<integer>0</integer>
		<key>f_f_k</key>
		<integer>0</integer>
		<key>f_f_l</key>
		<integer>0</integer>
		<key>f_i</key>
		<integer>-3</integer>
		<key>f_j</key>
		<integer>-3</integer>
		<key>p</key>
		<integer>-24</integer>
		<key>q</key>
		<integer>-51</integer>
		<key>v</key>
		<integer>-19</integer>
		<key>x</key>
		<integer>-15</integer>
	</dict>
	<key>Thorn</key>
	<dict>
		<key>V</key>
		<integer>-34</integer>
		<key>X</key>
		<integer>-82</integer>
		<key>braceright</key>
		<integer>-11</integer>
		<key>bracketright</key>
		<integer>-23</integer>
		<key>one</key>
		<integer>-4</integer>
		<key>ordmasculine</key>
		<integer>-12</integer>
		<key>parenright</key>
		<integer>-24</integer>
		<key>trademark</key>
		<integer>-7</integer>
		<key>x</key>
		<integer>-8</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>Q</key>
		<integer>-31</integer>
		<key>Schwa</key>
		<integer>-11</integer>
		<key>abreve</key>
		<integer>-76</integer>
		<key>adieresis</key>
		<integer>-71</integer>
		<key>agrave</key>
		<integer>-33</integer>
		<key>amacron</key>
		<integer>-33</integer>
		<key>ampersand</key>
		<integer>-27</integer>
		<key>at</key>
		<integer>-29</integer>
		<key>atilde</key>
		<integer>-67</integer>
		<key>backslash</key>
		<integer>23</integer>
		<key>bracketright</key>
		<integer>26</integer>
		<key>copyright</key>
		<integer>-19</integer>
		<key>dotlessi</key>
		<integer>-56</integer>
		<key>egrave</key>
		<integer>-32</integer>
		<key>five</key>
		<integer>-26</integer>
		<key>four</key>
		<integer>-38</integer>
		<key>germandbls</key>
		<integer>-28</integer>
		<key>iacute</key>
		<integer>-28</integer>
		<key>ibreve</key>
		<integer>2</integer>
		<key>idieresis</key>
		<integer>2</integer>
		<key>igrave</key>
		<integer>25</integer>
		<key>imacron</key>
		<integer>1</integer>
		<key>itilde</key>
		<integer>22</integer>
		<key>k</key>
		<integer>13</integer>
		<key>kcommaaccent</key>
		<integer>13</integer>
		<key>one</key>
		<integer>11</integer>
		<key>p</key>
		<integer>-48</integer>
		<key>parenright</key>
		<integer>4</integer>
		<key>registered</key>
		<integer>-19</integer>
		<key>scaron</key>
		<integer>-36</integer>
		<key>schwa</key>
		<integer>-85</integer>
		<key>six</key>
		<integer>-20</integer>
		<key>slash</key>
		<integer>-40</integer>
		<key>space</key>
		<integer>-38</integer>
		<key>tbar</key>
		<integer>-30</integer>
		<key>thorn</key>
		<integer>25</integer>
		<key>trademark</key>
		<integer>23</integer>
		<key>v</key>
		<integer>-42</integer>
		<key>x</key>
		<integer>-43</integer>
		<key>zero</key>
		<integer>-16</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>Q</key>
		<integer>-34</integer>
		<key>Schwa</key>
		<integer>-17</integer>
		<key>asterisk</key>
		<integer>-12</integer>
		<key>at</key>
		<integer>-4</integer>
		<key>copyright</key>
		<integer>-22</integer>
		<key>five</key>
		<integer>3</integer>
		<key>four</key>
		<integer>-7</integer>
		<key>lslash</key>
		<integer>17</integer>
		<key>one</key>
		<integer>7</integer>
		<key>registered</key>
		<integer>-22</integer>
		<key>schwa</key>
		<integer>-5</integer>
		<key>six</key>
		<integer>-12</integer>
		<key>slash</key>
		<integer>20</integer>
		<key>space</key>
		<integer>-19</integer>
		<key>thorn</key>
		<integer>9</integer>
		<key>two</key>
		<integer>5</integer>
		<key>v</key>
		<integer>-67</integer>
		<key>zero</key>
		<integer>-17</integer>
	</dict>
	<key>ampersand</key>
	<dict>
		<key>Tbar</key>
		<integer>-12</integer>
		<key>V</key>
		<integer>-31</integer>
	</dict>
	<key>aogonek</key>
	<dict>
		<key>bracketright</key>
		<integer>-17</integer>
		<key>parenright</key>
		<integer>-2</integer>
	</dict>
	<key>asterisk</key>
	<dict>
		<key>V</key>
		<integer>5</integer>
		<key>X</key>
		<integer>-9</integer>
		<key>itilde</key>
		<integer>11</integer>
		<key>jcircumflex</key>
		<integer>10</integer>
		<key>v</key>
		<integer>4</integer>
	</dict>
	<key>at</key>
	<dict>
		<key>V</key>
		<integer>-15</integer>
		<key>X</key>
		<integer>-26</integer>
	</dict>
	<key>backslash</key>
	<dict>
		<key>V</key>
		<integer>-39</integer>
		<key>X</key>
		<integer>13</integer>
		<key>v</key>
		<integer>-17</integer>
	</dict>
	<key>braceleft</key>
	<dict>
		<key>Q</key>
		<integer>-14</integer>
		<key>Schwa</key>
		<integer>-5</integer>
		<key>V</key>
		<integer>2</integer>
		<key>four</key>
		<integer>-4</integer>
		<key>parenleft</key>
		<integer>-4</integer>
		<key>schwa</key>
		<integer>-13</integer>
		<key>six</key>
		<integer>-11</integer>
		<key>thorn</key>
		<integer>4</integer>
		<key>v</key>
		<integer>-11</integer>
		<key>zero</key>
		<integer>-11</integer>
	</dict>
	<key>braceright</key>
	<dict>
		<key>parenright</key>
		<integer>-5</integer>
	</dict>
	<key>bracketleft</key>
	<dict>
		<key>Q</key>
		<integer>-22</integer>
		<key>Schwa</key>
		<integer>-16</integer>
		<key>V</key>
		<integer>35</integer>
		<key>X</key>
		<integer>7</integer>
		<key>eight</key>
		<integer>-14</integer>
		<key>five</key>
		<integer>-18</integer>
		<key>four</key>
		<integer>-22</integer>
		<key>igrave</key>
		<integer>4</integer>
		<key>iogonek</key>
		<integer>7</integer>
		<key>nine</key>
		<integer>-15</integer>
		<key>p</key>
		<integer>-6</integer>
		<key>parenleft</key>
		<integer>-16</integer>
		<key>schwa</key>
		<integer>-26</integer>
		<key>six</key>
		<integer>-22</integer>
		<key>thorn</key>
		<integer>14</integer>
		<key>three</key>
		<integer>-6</integer>
		<key>two</key>
		<integer>-6</integer>
		<key>v</key>
		<integer>-25</integer>
		<key>x</key>
		<integer>-21</integer>
		<key>zero</key>
		<integer>-22</integer>
	</dict>
	<key>dcaron</key>
	<dict>
		<key>asterisk</key>
		<integer>98</integer>
		<key>backslash</key>
		<integer>87</integer>
		<key>bar</key>
		<integer>34</integer>
		<key>braceright</key>
		<integer>35</integer>
		<key>bracketright</key>
		<integer>83</integer>
		<key>copyright</key>
		<integer>4</integer>
		<key>exclam</key>
		<integer>49</integer>
		<key>f_b</key>
		<integer>7</integer>
		<key>f_f</key>
		<integer>0</integer>
		<key>f_f_b</key>
		<integer>0</integer>
		<key>f_f_h</key>
		<integer>0</integer>
		<key>f_f_i</key>
		<integer>0</integer>
		<key>f_f_j</key>
		<integer>0</integer>
		<key>f_f_k</key>
		<integer>0</integer>
		<key>f_f_l</key>
		<integer>0</integer>
		<key>f_f_t</key>
		<integer>0</integer>
		<key>f_h</key>
		<integer>7</integer>
		<key>f_i</key>
		<integer>8</integer>
		<key>f_j</key>
		<integer>8</integer>
		<key>f_k</key>
		<integer>7</integer>
		<key>f_l</key>
		<integer>7</integer>
		<key>germandbls</key>
		<integer>13</integer>
		<key>k</key>
		<integer>45</integer>
		<key>ordfeminine</key>
		<integer>66</integer>
		<key>ordmasculine</key>
		<integer>77</integer>
		<key>parenright</key>
		<integer>66</integer>
		<key>question</key>
		<integer>70</integer>
		<key>registered</key>
		<integer>4</integer>
		<key>servicemark</key>
		<integer>52</integer>
		<key>thorn</key>
		<integer>63</integer>
		<key>trademark</key>
		<integer>99</integer>
	</dict>
	<key>degree</key>
	<dict>
		<key>five</key>
		<integer>-19</integer>
		<key>four</key>
		<integer>-32</integer>
	</dict>
	<key>divide</key>
	<dict>
		<key>one</key>
		<integer>-15</integer>
		<key>seven</key>
		<integer>-14</integer>
		<key>two</key>
		<integer>-12</integer>
	</dict>
	<key>eight</key>
	<dict>
		<key>bracketright</key>
		<integer>-15</integer>
		<key>parenright</key>
		<integer>-13</integer>
	</dict>
	<key>eng</key>
	<dict>
		<key>backslash</key>
		<integer>-18</integer>
		<key>ordfeminine</key>
		<integer>-9</integer>
		<key>ordmasculine</key>
		<integer>-12</integer>
		<key>servicemark</key>
		<integer>-4</integer>
		<key>trademark</key>
		<integer>-10</integer>
		<key>v</key>
		<integer>-9</integer>
	</dict>
	<key>eth</key>
	<dict>
		<key>V</key>
		<integer>-28</integer>
		<key>X</key>
		<integer>-29</integer>
		<key>braceright</key>
		<integer>-13</integer>
		<key>bracketright</key>
		<integer>-16</integer>
		<key>parenright</key>
		<integer>-18</integer>
		<key>v</key>
		<integer>-11</integer>
		<key>x</key>
		<integer>-18</integer>
	</dict>
	<key>f_f</key>
	<dict>
		<key>abreve</key>
		<integer>6</integer>
		<key>adieresis</key>
		<integer>13</integer>
		<key>agrave</key>
		<integer>5</integer>
		<key>amacron</key>
		<integer>7</integer>
		<key>atilde</key>
		<integer>12</integer>
		<key>dotlessj</key>
		<integer>1</integer>
		<key>egrave</key>
		<integer>7</integer>
		<key>gbreve</key>
		<integer>0</integer>
		<key>ibreve</key>
		<integer>41</integer>
		<key>icircumflex</key>
		<integer>30</integer>
		<key>idieresis</key>
		<integer>43</integer>
		<key>igrave</key>
		<integer>53</integer>
		<key>imacron</key>
		<integer>41</integer>
		<key>itilde</key>
		<integer>55</integer>
		<key>jcircumflex</key>
		<integer>37</integer>
	</dict>
	<key>four</key>
	<dict>
		<key>V</key>
		<integer>-18</integer>
		<key>backslash</key>
		<integer>-5</integer>
		<key>bracketright</key>
		<integer>-17</integer>
		<key>degree</key>
		<integer>-17</integer>
		<key>parenright</key>
		<integer>-14</integer>
	</dict>
	<key>germandbls</key>
	<dict>
		<key>Q</key>
		<integer>-5</integer>
		<key>V</key>
		<integer>-17</integer>
		<key>X</key>
		<integer>-16</integer>
		<key>braceright</key>
		<integer>-9</integer>
		<key>bracketright</key>
		<integer>-14</integer>
		<key>p</key>
		<integer>-4</integer>
		<key>parenright</key>
		<integer>-15</integer>
		<key>v</key>
		<integer>-26</integer>
		<key>x</key>
		<integer>-26</integer>
	</dict>
	<key>iacute</key>
	<dict>
		<key>bracketright</key>
		<integer>6</integer>
		<key>thorn</key>
		<integer>15</integer>
	</dict>
	<key>ibreve</key>
	<dict>
		<key>thorn</key>
		<integer>8</integer>
	</dict>
	<key>icircumflex</key>
	<dict>
		<key>asterisk</key>
		<integer>11</integer>
	</dict>
	<key>idieresis</key>
	<dict>
		<key>backslash</key>
		<integer>4</integer>
		<key>bracketright</key>
		<integer>8</integer>
		<key>germandbls</key>
		<integer>0</integer>
		<key>thorn</key>
		<integer>18</integer>
		<key>trademark</key>
		<integer>5</integer>
	</dict>
	<key>imacron</key>
	<dict>
		<key>thorn</key>
		<integer>4</integer>
	</dict>
	<key>itilde</key>
	<dict>
		<key>backslash</key>
		<integer>10</integer>
		<key>bracketright</key>
		<integer>14</integer>
		<key>germandbls</key>
		<integer>1</integer>
		<key>k</key>
		<integer>9</integer>
		<key>parenright</key>
		<integer>7</integer>
		<key>thorn</key>
		<integer>21</integer>
		<key>trademark</key>
		<integer>5</integer>
	</dict>
	<key>jcircumflex</key>
	<dict>
		<key>asterisk</key>
		<integer>27</integer>
	</dict>
	<key>lcaron</key>
	<dict>
		<key>asterisk</key>
		<integer>98</integer>
		<key>backslash</key>
		<integer>87</integer>
		<key>bar</key>
		<integer>35</integer>
		<key>braceright</key>
		<integer>35</integer>
		<key>bracketright</key>
		<integer>83</integer>
		<key>copyright</key>
		<integer>6</integer>
		<key>exclam</key>
		<integer>50</integer>
		<key>f_b</key>
		<integer>9</integer>
		<key>f_f</key>
		<integer>0</integer>
		<key>f_f_b</key>
		<integer>0</integer>
		<key>f_f_h</key>
		<integer>0</integer>
		<key>f_f_i</key>
		<integer>0</integer>
		<key>f_f_j</key>
		<integer>0</integer>
		<key>f_f_k</key>
		<integer>0</integer>
		<key>f_f_l</key>
		<integer>0</integer>
		<key>f_f_t</key>
		<integer>0</integer>
		<key>f_h</key>
		<integer>9</integer>
		<key>f_i</key>
		<integer>10</integer>
		<key>f_j</key>
		<integer>10</integer>
		<key>f_k</key>
		<integer>9</integer>
		<key>f_l</key>
		<integer>9</integer>
		<key>germandbls</key>
		<integer>15</integer>
		<key>k</key>
		<integer>43</integer>
		<key>ordfeminine</key>
		<integer>66</integer>
		<key>ordmasculine</key>
		<integer>78</integer>
		<key>parenright</key>
		<integer>66</integer>
		<key>question</key>
		<integer>70</integer>
		<key>registered</key>
		<integer>6</integer>
		<key>scaron</key>
		<integer>27</integer>
		<key>servicemark</key>
		<integer>53</integer>
		<key>thorn</key>
		<integer>64</integer>
		<key>trademark</key>
		<integer>98</integer>
	</dict>
	<key>ldot</key>
	<dict>
		<key>f_b</key>
		<integer>4</integer>
		<key>f_f</key>
		<integer>4</integer>
		<key>f_f_b</key>
		<integer>4</integer>
		<key>f_f_h</key>
		<integer>4</integer>
		<key>f_f_i</key>
		<integer>4</integer>
		<key>f_f_j</key>
		<integer>4</integer>
		<key>f_f_k</key>
		<integer>4</integer>
		<key>f_f_l</key>
		<integer>4</integer>
		<key>f_h</key>
		<integer>4</integer>
		<key>f_i</key>
		<integer>4</integer>
		<key>f_j</key>
		<integer>4</integer>
		<key>f_k</key>
		<integer>4</integer>
		<key>f_l</key>
		<integer>4</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>Q</key>
		<integer>-10</integer>
		<key>V</key>
		<integer>-99</integer>
		<key>asterisk</key>
		<integer>-10</integer>
		<key>backslash</key>
		<integer>-32</integer>
		<key>braceright</key>
		<integer>-14</integer>
		<key>bracketright</key>
		<integer>-29</integer>
		<key>copyright</key>
		<integer>-4</integer>
		<key>ordfeminine</key>
		<integer>-15</integer>
		<key>ordmasculine</key>
		<integer>-18</integer>
		<key>parenright</key>
		<integer>-16</integer>
		<key>registered</key>
		<integer>-4</integer>
		<key>servicemark</key>
		<integer>-11</integer>
		<key>trademark</key>
		<integer>-17</integer>
		<key>v</key>
		<integer>-20</integer>
	</dict>
	<key>minus</key>
	<dict>
		<key>one</key>
		<integer>-5</integer>
	</dict>
	<key>nine</key>
	<dict>
		<key>X</key>
		<integer>-17</integer>
		<key>braceright</key>
		<integer>-10</integer>
		<key>bracketright</key>
		<integer>-20</integer>
		<key>parenright</key>
		<integer>-19</integer>
	</dict>
	<key>ohungarumlaut</key>
	<dict>
		<key>backslash</key>
		<integer>5</integer>
		<key>braceright</key>
		<integer>-2</integer>
		<key>bracketright</key>
		<integer>9</integer>
		<key>parenright</key>
		<integer>0</integer>
		<key>thorn</key>
		<integer>18</integer>
		<key>trademark</key>
		<integer>4</integer>
	</dict>
	<key>one</key>
	<dict>
		<key>X</key>
		<integer>7</integer>
		<key>bracketright</key>
		<integer>-11</integer>
		<key>divide</key>
		<integer>-8</integer>
		<key>periodcentered</key>
		<integer>-11</integer>
	</dict>
	<key>parenleft</key>
	<dict>
		<key>Q</key>
		<integer>-21</integer>
		<key>Schwa</key>
		<integer>-14</integer>
		<key>V</key>
		<integer>15</integer>
		<key>braceleft</key>
		<integer>-5</integer>
		<key>eight</key>
		<integer>-12</integer>
		<key>five</key>
		<integer>-12</integer>
		<key>four</key>
		<integer>-22</integer>
		<key>iogonek</key>
		<integer>11</integer>
		<key>nine</key>
		<integer>-12</integer>
		<key>parenleft</key>
		<integer>-17</integer>
		<key>schwa</key>
		<integer>-23</integer>
		<key>six</key>
		<integer>-21</integer>
		<key>thorn</key>
		<integer>8</integer>
		<key>three</key>
		<integer>-4</integer>
		<key>v</key>
		<integer>-24</integer>
		<key>x</key>
		<integer>-10</integer>
		<key>zero</key>
		<integer>-21</integer>
	</dict>
	<key>parenright</key>
	<dict>
		<key>braceright</key>
		<integer>-4</integer>
		<key>bracketright</key>
		<integer>-16</integer>
		<key>parenright</key>
		<integer>-17</integer>
	</dict>
	<key>periodcentered</key>
	<dict>
		<key>L</key>
		<integer>-20</integer>
		<key>one</key>
		<integer>-15</integer>
		<key>seven</key>
		<integer>-19</integer>
		<key>two</key>
		<integer>-14</integer>
	</dict>
	<key>q</key>
	<dict>
		<key>V</key>
		<integer>-60</integer>
		<key>backslash</key>
		<integer>-10</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>Eth</key>
		<integer>0</integer>
		<key>Thorn</key>
		<integer>9</integer>
		<key>V</key>
		<integer>64</integer>
		<key>X</key>
		<integer>27</integer>
		<key>backslash</key>
		<integer>20</integer>
		<key>bracketright</key>
		<integer>26</integer>
		<key>cent</key>
		<integer>-18</integer>
		<key>divide</key>
		<integer>-17</integer>
		<key>five</key>
		<integer>-13</integer>
		<key>four</key>
		<integer>-17</integer>
		<key>minus</key>
		<integer>-11</integer>
		<key>one</key>
		<integer>9</integer>
		<key>parenright</key>
		<integer>4</integer>
		<key>periodcentered</key>
		<integer>-26</integer>
		<key>plus</key>
		<integer>-10</integer>
		<key>slash</key>
		<integer>-20</integer>
	</dict>
	<key>six</key>
	<dict>
		<key>bracketright</key>
		<integer>-11</integer>
		<key>parenright</key>
		<integer>-11</integer>
	</dict>
	<key>slash</key>
	<dict>
		<key>V</key>
		<integer>32</integer>
		<key>X</key>
		<integer>4</integer>
		<key>five</key>
		<integer>-14</integer>
		<key>four</key>
		<integer>-19</integer>
		<key>schwa</key>
		<integer>-14</integer>
		<key>slash</key>
		<integer>-150</integer>
		<key>thorn</key>
		<integer>10</integer>
	</dict>
	<key>space</key>
	<dict>
		<key>V</key>
		<integer>-38</integer>
		<key>X</key>
		<integer>-17</integer>
		<key>slash</key>
		<integer>-38</integer>
		<key>v</key>
		<integer>-27</integer>
		<key>x</key>
		<integer>-12</integer>
	</dict>
	<key>tcaron</key>
	<dict>
		<key>asterisk</key>
		<integer>59</integer>
		<key>backslash</key>
		<integer>43</integer>
		<key>bar</key>
		<integer>3</integer>
		<key>braceright</key>
		<integer>9</integer>
		<key>bracketright</key>
		<integer>40</integer>
		<key>exclam</key>
		<integer>11</integer>
		<key>germandbls</key>
		<integer>1</integer>
		<key>k</key>
		<integer>24</integer>
		<key>ordfeminine</key>
		<integer>22</integer>
		<key>ordmasculine</key>
		<integer>34</integer>
		<key>parenright</key>
		<integer>23</integer>
		<key>question</key>
		<integer>27</integer>
		<key>servicemark</key>
		<integer>12</integer>
		<key>thorn</key>
		<integer>41</integer>
		<key>trademark</key>
		<integer>55</integer>
	</dict>
	<key>three</key>
	<dict>
		<key>bracketright</key>
		<integer>-14</integer>
		<key>parenright</key>
		<integer>-12</integer>
	</dict>
	<key>two</key>
	<dict>
		<key>bracketright</key>
		<integer>-6</integer>
	</dict>
	<key>uni0163</key>
	<dict>
		<key>bracketright</key>
		<integer>-2</integer>
		<key>parenright</key>
		<integer>-2</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>V</key>
		<integer>-46</integer>
		<key>X</key>
		<integer>-73</integer>
		<key>ampersand</key>
		<integer>-12</integer>
		<key>asterisk</key>
		<integer>8</integer>
		<key>braceright</key>
		<integer>-12</integer>
		<key>bracketright</key>
		<integer>-25</integer>
		<key>parenright</key>
		<integer>-26</integer>
		<key>schwa</key>
		<integer>-11</integer>
		<key>slash</key>
		<integer>-17</integer>
		<key>space</key>
		<integer>-27</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>Q</key>
		<integer>-16</integer>
		<key>V</key>
		<integer>-45</integer>
		<key>bracketright</key>
		<integer>-21</integer>
		<key>lslash</key>
		<integer>3</integer>
		<key>parenright</key>
		<integer>-10</integer>
		<key>schwa</key>
		<integer>-9</integer>
		<key>slash</key>
		<integer>4</integer>
		<key>space</key>
		<integer>-12</integer>
		<key>trademark</key>
		<integer>-4</integer>
	</dict>
	<key>zero</key>
	<dict>
		<key>V</key>
		<integer>-15</integer>
		<key>X</key>
		<integer>-17</integer>
		<key>braceright</key>
		<integer>-11</integer>
		<key>bracketright</key>
		<integer>-22</integer>
		<key>parenright</key>
		<integer>-21</integer>
	</dict>
</dict>
</plist>
